<div class="container mt-5">
    <table class="table table-hover table-records">
        <thead>
            <tr>
                <th scope="col">Original URL</th>
                <th scope="col">Short Link</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>https://klkgd/hkjyiu/hsiatyd/hsijdy</td>
                <td>https://abc.com</td>
                <td>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="flexSwitchCheckChecked1"
                            checked
                        />
                    </div>
                </td>
                <td class="actions">
                    <button class="btn btn-link p-0" aria-label="Edit" title="Edit">
                        <i class="bi bi-pencil-square edit"></i>
                    </button>
                    <button class="btn btn-link p-0" aria-label="Delete" title="Delete">
                        <i class="bi bi-trash delete"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>https://klkgd/hkjyiu/hsiatyd/hsijdyhttps:</td>
                <td>https://abc.com</td>
                <td>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="flexSwitchCheckChecked2"
                            checked
                        />
                    </div>
                </td>
                <td class="actions">
                    <button class="btn btn-link p-0" aria-label="Edit" title="Edit">
                        <i class="bi bi-pencil-square edit"></i>
                    </button>
                    <button class="btn btn-link p-0" aria-label="Delete" title="Delete">
                        <i class="bi bi-trash delete"></i>
                    </button>
                </td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
