@import '../../../../variables.scss';
@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    height: 15vh;
    .navbar-collapse {
        justify-content: end;
        ul {
            li {
                a {
                    color: $primary-color;
                    font-size: 18px;
                }
            }
        }
    }
}

main {
    height: 85vh;
    @include flex;
    h1 {
        color: $primary-color;
        font-weight: lighter !important;
        text-align: center;
        span {
            color: #87a2ea;
            font-weight: bold;
        }
    }
    form {
        background: $primary-color;
        border-radius: 50px;
        @include flex;
        label:nth-child(1) {
            border-radius: 50px 0px 0px 50px;
        }
        /* Hide the default radio buttons */
        .radio-tabs {
            display: none;
        }

        /* Tab container styles */
        .form-group {
            display: flex; /* Use flexbox to arrange the tabs */
        }

        /* Tab button styles */
        .tab-button {
            padding: 10px;
            text-align: center;
            cursor: pointer;
            border: 1px solid transparent; /* Default border */
            transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
            background: $ternary-color;
        }

        /* Active tab styles */
        .radio-tabs:checked + .tab-button {
            background-color: $secondary-color; /* Active background color */
            color: $primary-color; /* Active text color */
            border-color: $secondary-color; /* Active border color */
        }

        /* Optional: hover effect for tabs */
        .tab-button:hover {
            background-color: #e2e6ea; /* Hover background color */
        }
    }
}
