<div class="service-section container-xxl">
    <div class="service-info">
        <h1 class="main-heading text-center pt-5 pb-1">World's Smartest Web App Boilerplate</h1>
        <p class="sub-heading lead text-center mx-auto pb-3">
            This web development boilerplate streamlines the setup and development of scalable
            applications using NX Dev Tools, Angular, and NestJS, with integrated Docker for
            containerized deployments, robust testing via Jest, and automated CI/CD pipelines for
            seamless and error-free production releases.
        </p>
    </div>

    <div class="service-features pt-4">
        <div class="row g-4 d-flex flex-wrap">
            <!-- Adds spacing between columns -->
            <div class="col-12 col-sm-6 col-lg-4 d-flex">
                <div class="feature-item p-4 border rounded text-center">
                    <img
                        src="../../../../assets/images/server.png"
                        alt="icon"
                        class="mb-3 feature-icon"
                    />
                    <h4 class="mb-3">Dynamic Environment Setup</h4>
                    <p class="mb-0">
                        Supports parameterized environment configurations for different stages
                        (local, dev, UAT, production), simplifying environment-specific setup and
                        transitions, reducing manual efforts and potential errors.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex">
                <div class="feature-item p-4 border rounded text-center">
                    <img
                        src="../../../../assets/images/code-checking.png"
                        alt="icon"
                        class="mb-3 feature-icon"
                    />
                    <h4 class="mb-3">Strict Code Quality Checkpoints</h4>
                    <p class="mb-0">
                        Ensures high-quality code with strict enforcement of linting rules, code
                        consistency, memory usage optimization, and prevention of syntax errors,
                        providing peace of mind for large-scale projects.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex">
                <div class="feature-item p-4 border rounded text-center">
                    <img
                        src="../../../../assets/images/integration.png"
                        alt="icon"
                        class="mb-3 feature-icon"
                    />
                    <h4 class="mb-3">Seamless Docker Integration</h4>
                    <p class="mb-0">
                        Pre-configured Docker setups for both frontend and backend allow for local
                        testing and easy deployment across environments. It ensures consistent
                        performance across all stages of development and production.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex">
                <div class="feature-item p-4 border rounded text-center">
                    <img
                        src="../../../../assets/images/unified.png"
                        alt="icon"
                        class="mb-3 feature-icon"
                    />
                    <h4 class="mb-3">Unified Testing Framework</h4>
                    <p class="mb-0">
                        Uses Jest for both unit and end-to-end testing across frontend (Angular) and
                        backend (NestJS) applications, offering a uniform testing experience and
                        maintaining high test coverage.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex">
                <div class="feature-item p-4 border rounded text-center">
                    <img
                        src="../../../../assets/images/upgrade.png"
                        alt="icon"
                        class="mb-3 feature-icon"
                    />
                    <h4 class="mb-3">Powerful Upgrade Command</h4>
                    <p class="mb-0">
                        A robust upgrade command handles the complex task of upgrading Angular,
                        NestJS, NX Workspace, and npm dependencies. If any issues arise during the
                        upgrade, it automatically rolls back to the previous stable state.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex">
                <div class="feature-item p-4 border rounded text-center">
                    <img
                        src="../../../../assets/images/scaffolding.png"
                        alt="icon"
                        class="mb-3 feature-icon"
                    />
                    <h4 class="mb-3">Scaffolding and Common Library</h4>
                    <p class="mb-0">
                        Includes interactive commands to scaffold modules for both frontend and
                        backend projects, along with a common library for shared resources
                        (constants, interfaces, enumerations), promoting reusability and efficiency
                        in development.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
