/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

@font-face {
    font-family: 'Roboto', Arial, sans-serif;
    src: url('assets/fonts/roboto/bold.ttf') format('truetype'),
        url('assets/fonts/roboto/light.ttf') format('truetype'),
        url('assets/fonts/roboto/medium.ttf') format('truetype'),
        url('assets/fonts/roboto/regular.ttf') format('truetype'),
        url('assets/fonts/roboto/thin.ttf') format('truetype');
}

* {
    box-sizing: border-box !important;
}
body {
    background: radial-gradient(circle at center, #394462 5%, #0a101e 30%);
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}
body::after {
    content: '';
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../frontend/src/assets/images/pattern.png') no-repeat;
    background-size: contain;
    background-position: right bottom;
    z-index: -1;
}
